<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2 >Add <b>Class</b></h2>
                </div>
                <form novalidate [formGroup] = "allowanceLoginForm" (ngSubmit) = 'AddAllowance()'>
                    <div class="form-group" >
                        <label for="firstName">Class Name</label>
                        <input type="text" id="firstName" formControlName="ClassName" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Basic Salary</label>
                        <input type="Number" id="basicsalary" formControlName="BasicSalary" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Travel Allowance</label>
                        <input type="Number" id="travelAllowance" formControlName="TravelAllowance" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Medical Allowance</label>
                        <input type="Number" id="medicalAllowance" formControlName="MedicalAllowance" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Washing Allowance</label>
                        <input type="Number" id="washingAllowance" formControlName="WashingAllowance" required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="submit-button">Submit</button>
                        <button type="button" class="back-button"  (click)="goToManageEmployees()">Back</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>