<body>
    <div class="change-password-container">
        <h1><strong>Change Password</strong></h1>
        <form [formGroup]="changePasswordForm" (ngSubmit)='ChangePassword()'>
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" formControlName="OldPassword" required>
                <div *ngIf="changePasswordForm.get('OldPassword')?.invalid &&(changePasswordForm.get('OldPassword')?.touched ||changePasswordForm.get('OldPassword')?.dirty)" >
              <div *ngIf="changePasswordForm.get('OldPassword')?.errors?.['required']" class="errMessClass">
                Old Password is required.
              </div>
            </div>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" formControlName="NewPassword" required>
                <div *ngIf="changePasswordForm.get('NewPassword')?.invalid &&(changePasswordForm.get('NewPassword')?.dirty ||changePasswordForm.get('NewPassword')?.touched)">
                    <div *ngIf="changePasswordForm.get('NewPassword')?.errors?.['required']" class="errMessClass">
                        New Password is required.
                    </div>
                </div>
            </div>
            <button class="button" type="submit">Change Password</button>
        </form>
    </div>
</body>