<body>
    <div class="change-password-container">
        <h1><strong>Change Password</strong></h1>
        <form [formGroup] = "changePasswordForm" (ngSubmit)='ChangePassword()'>
            <div class="form-group">
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" name="OldPassword" required>
            </div>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="NewPassword" required>
            </div>
            <button class="button" type="submit">Change Password</button>
        </form>
    </div>
</body>
