<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
						<h2>Manage <b>Salary</b></h2>
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Designation</th>
                        <th>Role</th>
                        <th>Date of join</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
					<tr>
                        <td>Maria Anders</td>
                        <td>mariaanders@mail.com</td>
                        <td>(503) 555-9931</td>
                        <td>Analyst A4</td>
                        <td>Dev</td>
                        <td>21-05-2022</td>
                        <td>
                            <div class="button-container">
                                <button class="update">Generate Salary</button>
                                <button class="delete">Salary Report</button>
                              </div> 
                        </td>
                    </tr>
                    <tr>
                        <td>Fran Wilson</td>
                        <td>franwilson@mail.com</td>
                        <td>(204) 619-5731</td>
                        <td>Analyst A4</td>
                        <td>Dev</td>
                        <td>21-05-2022</td>
                        <td>
                            <div class="button-container">
                                <button class="update">Generate Salary</button>
                                <button class="delete">Salary Report</button>
                              </div> 
                        </td>
                    </tr>					
                </tbody>
            </table>
        </div>
    </div>
</body>
