nav {
    padding: 10px;
  }
  
  span {
    color: #000000;
  
    text-align: center;
  
    font-size: xx-large;
  
    font-weight: bold;
  
    margin-top: 2px;
  }
  
  #logout_btn {
    margin-left: auto; /* Push the button to the right */
    background-color:  #4CAF50;;
    color: #fff;
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    float: right;
  }

    