<div class="container">
    <h2><strong>Leave</strong></h2>
    <form novalidate [formGroup] = "applyLeaveForm" (ngSubmit) = 'ApplyLeave()'>
        <div class="form-group">
            <label for="leaveReason">Leave Reason</label>
            <select id="leaveReason" formControlName="LeaveType" required>
                <option value="">Select a reason</option>
                <option value="vacation">Vacation</option>
                <option value="sick">Sick Leave</option>
                <option value="personal">Personal Leave</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" formControlName="LeaveStartDate" id="startDate" required>
        </div>
        <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" formControlName="LeaveEndDate" id="endDate" required>
        </div>
        <div class="form-group">
            <label for="leaveDescription">Leave Description</label>
            <textarea formControlName="Reason" id="leaveDescription" rows="4" required></textarea>
        </div>
            <button class="button"type="submit">Submit</button>
    </form>
</div>