<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>Salary <b> Report</b></h2>
                    </div>
                </div>
            </div>
            <table>
                <tr>
                    <td><b>Basic Salary  </b></td>
                    <td>18000</td>
                </tr>
                <tr>
                    <td><b>HR Allowance  </b></td>
                    <td>2000</td>
                </tr>
                <tr>
                    <td><b>DA Allowance </b></td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td><b>Travel Allowance  </b></td>
                    <td>500</td>
                </tr>
                <tr>
                    <td><b>Medical Allowance  </b></td>
                    <td>1500</td>
                </tr>
                <tr>
                    <td><b>Washing Allowance  </b></td>
                    <td>100</td>
                </tr>
                <tr>
                    <td><b>Leave Deduction  </b></td>
                    <td>0</td>
                </tr>
                <tr>
                    <td><b>Net Salary  </b></td>
                    <td>25000</td>
                </tr>
            </table>
            <br />
            <div>
                <button type="button" class="button">
                    Print PaySlip
                </button>
            </div>
        </div>
    </div>
</body>