<!-- <body>
  <div class="container">
    <h2>Update <b>Leaves</b></h2>
  </div>
  <div class="container">
    <button class="button"><span>Pending</span></button>
    <button class="button"><span>Approved</span></button>
    <button class="button"><span>Rejected</span></button>
  </div>


  <ng-container>
    <div class="tablecontainer">
      <h2>Pending Leave Requests</h2>
      <b>Name : </b>sai &nbsp;&nbsp;&nbsp;&nbsp;
      <b>Leave Reason:</b>Sick leave <br />
      <b>StartDate :</b> 21-05-2023 &nbsp;&nbsp;&nbsp;&nbsp;
      <b>EndDate :</b>22-05-2023 <br />
      <div>
        <b>Description : </b>I am suffering from fever &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <b>Submitted Date :</b>20-05-2023&nbsp;&nbsp;&nbsp;&nbsp;
      <b>Status :</b>approved <br />
      <b>Leave Credit Count :</b>15 &nbsp;&nbsp;&nbsp;&nbsp;
      <b>Leave Debit Count : </b>10 <br />
      <button type="button" class="btn btn-primary" class="button">
        View Leave Report
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-success" class="button">
        Approve
      </button>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-danger" class="button">
        Reject
      </button>
      <br />
      <br />
    </div>

  </ng-container>
  <ng-container>
    <h2>Approved Leave Requests</h2>
    <div class="tablecontainer">
      <b>Name : </b>sai &nbsp;&nbsp;&nbsp;&nbsp;
      <b>Leave Reason : </b>leaveReason <br />
      <b>StartDate :</b> 21-05-2023 &nbsp;&nbsp;&nbsp;&nbsp;
      <b>EndDate :</b> 21-05-2023 <br />
      <div>
        <b>Description : </b>fever very very high &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <b>Submitted Date :</b>

      21-05-2023 &nbsp;&nbsp;&nbsp;&nbsp; <b>Status :</b>
      Approved <br />
      <button type="button" class="btn btn-primary" class="button">
        View Leave Report
      </button>
    </div>
    <br />
  </ng-container>

  <ng-container>
    <h2>Rejected Leave Requests</h2>
    <div class="tablecontainer">
      <b>Name : </b>sai &nbsp;&nbsp;&nbsp;&nbsp;
      <b>Leave Reason : </b>leaveReason <br />
      <b>StartDate :</b> 21-05-2023 &nbsp;&nbsp;&nbsp;&nbsp;
      <b> EndDate :</b> 21-05-2023 <br />
      <div>
        <b>Description : </b>fever yaar kitna baar bolu &nbsp;&nbsp;&nbsp;&nbsp;
      </div>
      <b>Submitted Date :</b>
      21-05-2023&nbsp;&nbsp;&nbsp;&nbsp; <b> Status :</b>
      Rejected<br />
      <button type="button" class="btn btn-primary" class="button">
        View Leave Report
      </button>
    </div>
    <br />
  </ng-container>
</body> -->



<body>

  <div class="container">

    <div class="table-wrapper">

      <div class="table-title">

        <div class="row">

          <div class="col-sm-12">

            <h2>Update <b>Leaves</b></h2>

          </div>

          <div class="container">

            <button class="pending" (click)="filterLeaves('pending')"><span>Pending</span></button>

            <button class="approved" (click)="filterLeaves('approved')"><span>Approved</span></button>

            <button class="rejected" (click)="filterLeaves('rejected')"><span>Rejected</span></button>

          </div>

        </div>

      </div>

      <table class="table table-striped table-hover">

        <thead>

          <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>Leave Type</th>

            <th>Start Date</th>

            <th>End Date</th>

            <th>Description</th>

            <th *ngIf="selectedStatus === 'pending'">Actions</th>

          </tr>

        </thead>

        <tbody>

          <tr *ngFor="let leave of filteredLeaves">

            <td>{{leave.fullName}}</td>
            <td>{{leave.email}}</td>
            <td>{{leave.leaveType}}</td>

            <td>{{leave.leaveStartDate | date}}</td>

            <td>{{leave.leaveEndDate |date}}</td>

            <td>{{leave.leaveStatus}}</td>

            <td *ngIf="leave.leaveStatus === 'pending'">

              <div class="button-container">

                <button class="update" (click)="ApproveLeave(leave.id)">Approve</button>

                <button class="delete" (click)="RejectLeave(leave.id)">Reject</button>

              </div>

            </td>

          </tr>

        </tbody>

      </table>

    </div>

  </div>

</body>